
.header{
    font-weight: bold;
    font-size: 12pt;
}

.bold{
    font-weight: bold;
}

.italics{
    font-style:italic;
}

.underline{
    border-bottom: 1px solid black;
}

.parent{
        border: 0px;
        margin: 0px;
        padding: 0px;
        position: relative;
}

.child{
    border: 0px;
    margin: 0px;
    padding: 0px;
    position: absolute;
    right: 0px;
    bottom: 0px;
}

body{
    padding-left: 0.5in;
    padding-right: 0.5in;
    padding-top: 0.5in;
    padding-bottom: 0.5in;
    max-width: 8.5in;
    color: black;
    font-family: calibri, sans-serif, serif;
    font-size: 10pt;
    border: 1px solid black;
}

ul{
    margin-top: 0px;
    margin-bottom: 12pt;
}

section{
    margin-bottom: 12pt;
}
